.button
{
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) #2f3c6d rgba(0,0,0,0);
    -fx-background-color: rgba(57, 74, 134, 0.1);
}

.button:hover, .button:focused {
    -fx-border-color: #2f3c6d;
    -fx-background-color: rgba(57, 74, 134, 0.3);
}

.button#gui_button {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) #2f3c6d rgba(0,0,0,0);
    -fx-background-color: rgba(57, 74, 134, 0.1);
}

.button#gui_button:hover, .button#gui_button:focused {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-border-color: #2f3c6d;
    -fx-background-color: rgba(57, 74, 134, 0.3);
}

#backToOverview {
    -fx-border-radius: 40px 5px 5px 40px;
    -fx-background-radius: 40px 5px 5px 40px;
}

.text-field
{
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-padding: 0.166667em 0.166667em 0.166667em 1em;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) black rgba(0,0,0,0);
    -fx-prompt-text-fill: rgba(0,0,0,0.8);
}
 
.text-field:focused
{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-border-width: 2px;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(43, 56, 112, 0.9) rgba(0,0,0,0);
}

.text-field#date
{
    -fx-background-radius: 0;
}

.date-picker:focused
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-prompt-text-fill: rgba(0,0,0,0.8);
}

.combo-box
{
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(43, 56, 112, 0.9) rgba(0,0,0,0);
    -fx-prompt-text-fill: rgba(0,0,0,0.8);
}

.combo-box:focused
{
    -fx-background-color: -fx-shadow-highlight-color, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: rgba(0,0,0,0) rgba(0,0,0,0) black rgba(0,0,0,0);
    -fx-prompt-text-fill: rgba(0,0,0,0.8);
}

.table-view {
    -fx-border-color: black rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    -fx-background-color: rgba(0,0,0,0.2);
}

.tool-bar
{
    -fx-background-color: rgba(0,0,0,0.2);
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.tab-pane
{
    -fx-background-color: rgba(0,0,0,0.4);
}

.transparent .viewport,
.transparent
{
    -fx-background-color: transparent;
}